<IfModule mod_rewrite.c>
    RewriteEngine On

    # Define o diretório raiz (ajuste se necessário)
    RewriteBase /mvc/

    # Redireciona tudo para index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>
